* {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft Yahei', Arial;
}

html {
    background: #F6F6F6;
}

body {
    background: #F6F6F6;
}

.header {
    height: 200px;
    background: #393D49;
}

.header .layui-form {
    width: 651px;
    margin: 0 auto;
}

.header .layui-input-inline {
    width: 550px;
}

.header .title {
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}


.blog-type {
    background: #393D49;
    height: 60px;
}

.blog-type ul {
    margin: 0 auto;
    width: 1200px;
    display: block;
}

.blog {
    margin: 30px auto;
    width: 1200px;
}

.blog ul li {
    padding: 20px;
    background: #FFFFFF;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}

.blog li div {
    margin-bottom: 10px;
}

.blog li div a {
    color: #000000;
    font-size: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.blog li div a:hover {
    color: #5FB878;
}

.blog li p {
    margin-bottom: 10px;
    color: #999;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.blog .time {
    color: #999;
    padding: 15px 0;

}

.blog .content {
    background: #FFFFFF;
    padding: 15px;
    border-radius: 10px;
}

.ba {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #393D49;
    text-align: center;
}

.ba a {
    color: #FFFFFF;
}

.about {
    margin: 30px auto;
    width: 1160px;
    padding: 20px;
    border-radius: 10px;
    background: #FFFFFF;
}

.about p {
    padding: 10px 0;
    color: #393D49;
}

a {
    color: #01AAED;
}


/* blockquote 样式 */
blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
}

/* code 样式 */
code {
    margin: 10px 0;
    padding: 15px;
    line-height: 20px;
    border: 1px solid #eee;
    border-left-width: 6px;
    background-color: #202227;
    color: #FFFFFF;
    font-size: 12px;
}

pre code {
    display: block;
    padding: 10px;
}


/* table 样式 */
.content table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.content table td,
.content table th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 3px 5px;
}

.content table th {
    border-bottom: 2px solid #ccc;
    text-align: center;
}

/* ul ol 样式 */
.content ul, ol {
    margin: 10px 0 10px 20px;
}